# Date:    ${EXAMPLE_DATE}
# Creator: ${USER}
---
apiVersion: v1
kind: Pod
metadata:
  name: ${EXAMPLE_POD_NAME}
spec:
  containers:
  - name: ${EXAMPLE_POD_CONTAINER_NAME}
    image: ${EXAMPLE_POD_CONTAINER_IMAGE}